.activities {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 4rem;
}

.experiences {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 70px;
}

.experiences h1 {
  text-align: center;
}

.info h2 {
  font-size: 24px;
}

.info label {
  font-size: 20px;
}

.info .date {
  font-size: 12px;
  margin-bottom: 10px;
}

/* Card container */
.card {
  position: relative;
  max-width: 400px;
  padding: 30px 0 30px 30px;
}

.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid orangered;
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 0px 0 0px 5px;
}

.info {
  display: flex;
  flex-direction: column;
  background: #333;
  color: gray;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.info::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: -35px;
  background: white;
  border-radius: 999px;
  border: 3px solid orangered;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .activities {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    padding: 100px 40px 0 40px;
  }
}
