.stories {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 70px;
  align-items: center;
}

.stories h1 {
  margin-bottom: 20px;
}

.story-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  margin-top: 20px;
  padding: 0 30px 0 30px;
}

.story-card img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-width: 300px;
  border-radius: 15px;
}

.story-card p {
  font-size: 14px;
  text-align: center;
}

.stories-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .story-card:nth-child(odd) {
    flex-direction: row;
  }

  .story-card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .story-card img {
    width: 40%;
    max-width: 450px;
  }
}

@media (min-width: 80em) {
  .story-card img {
    width: 70%;
    max-width: 600px;
  }

  .story-card p {
    font-size: 18px;
  }
}

@media (min-width: 1000px) {
  .stories-wrapper {
    gap: 6rem;
  }
}
